body {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.border-container {

    display: flex;

    justify-content: center;

}



.border-container > div {

    width: 30%;
    padding: 30px;
    margin: 30px;

}



.border1 {

    border: 5px solid #00565c;
    border-top-color: #ba9629;
    border-bottom-color: #5c002c;
    border-left-style: dotted;
    border-right-style: dashed;

}



.border2 {

    border: 5px solid #13274f;
    border-top-color: #ce1141;
    border-bottom-color: #e7a801;
    border-left-style: dashed;
    border-right-style:double;

}



.border3 {

    border: 5px solid #f3d13c;
    border-top-color: #fb7e3c;
    border-bottom-color: #02a890;
    border-left-style: dotted;
    border-right-style:groove;

}



.border4 {

    border: 5px solid #90e137;
    border-top-color:  #f40290;
    border-bottom-color: #fe6d01;
    border-left-style:outset;
    border-right-style: dotted;

}



h1 {

    text-align: center;

}



ul {

    list-style-type: none;

}



ul li {

    margin-bottom: 10px;

}